<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mtechno.freerechargeswipe">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <permission
        android:name="com.mtechno.freerechargeswipe.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.mtechno.freerechargeswipe.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />
    <application
        android:name=".volley_works.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/DevenTheme">
        <activity
            android:name=".activities.WelcomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait" >

        </activity>
        <activity
            android:name=".activities.RegistrationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ProfileCompletionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".app_tour.AppTourPagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.HomeScreenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AboutActivity"
            android:label="@string/about"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".fragments.Survey"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".activities.TransparentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent"/>
        <service
            android:name=".services.ScreenListener"
            android:enabled="true" />
        <receiver
            android:name=".recievers.BootReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- AdBuddiz entry starts -->

        <activity android:name="com.purplebrain.adbuddiz.sdk.AdBuddizActivity"
            android:theme="@android:style/Theme.Translucent" />
        <!-- AdBuddiz entry ends -->


        <activity
            android:name="com.supersonicads.sdk.controller.ControllerActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true" />

        <activity
            android:name="com.supersonicads.sdk.controller.InterstitialActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.Translucent" />

        <activity
            android:name="com.supersonicads.sdk.controller.OpenUrlActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.Translucent" />

        <receiver
            android:name=".gcm_work.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.mtechno.freerechargeswipe" />
            </intent-filter>
        </receiver>

        <service android:name=".gcm_work.GCMNotificationIntentService" />

        <!-- Woobi entry starts -->
        <activity
            android:name="com.woobi.view.OfferWallActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.woobi.view.OfferDescriptionActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.woobi.view.OfferIncentiveAppDescrptionPopupActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.woobi.view.OfferPopupActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.woobi.view.OfferActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.woobi.view.ApkDownloadDialogActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- Sponsored By -->
        <activity
            android:name="com.woobi.view.SponsoredByDialogActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- Non Incentive -->
        <activity
            android:name="com.woobi.view.OfferNonIncentiveAppDescrptionPopupActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.woobi.view.VideoExitQueryDialogActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- Woobi entry ends -->

        <!-- startapp starts -->
        <activity
        android:name="com.startapp.android.publish.list3d.List3DActivity"
        android:theme="@android:style/Theme" />
        <activity
        android:name="com.startapp.android.publish.AppWallActivity"
        android:configChanges="orientation|keyboardHidden"
        android:theme="@android:style/Theme.Translucent" />
        <!-- startapp ends -->

        <!-- nativex starts -->
        <activity
            android:name="com.nativex.monetization.activities.InterstitialActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            />

        <activity
            android:name="com.nativex.videoplayer.VideoActivity"
            android:configChanges="orientation|screenSize" />
        <!-- nativex ends -->



        <!--native apps(mtechno) entry-->
        <receiver
            android:name=".native_app_work.AppInstalledObserverReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <service android:name=".native_app_work.AppCheckingService" />
        <!--native apps(mtechno) entry-->
    </application>

</manifest>
